/*全体*/
body	{
	font-size:smaller;
	line-height:1.5em;
	margin: 1em;
	padding: 1em;
	font-family: 'Noto Sans CJK SC', 'Microsoft YaHei', SimSun, sans-serif;
	color:#444;
	background-color:#e1e1e1;
}
body.helpmenu {
	border:1px solid #444;
}
/*html,body{
	scrollbar-base-color: #fff;
	scrollbar-track-color: #fff;
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #288;
	scrollbar-darkshadow-color: #aaa;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #aaa;
}*/

p {
	margin-left: 10px;
	text-indent:0pt;
}
div.version{
	margin: 1.5em 0em 0.5em 0em;
}
span.vtitle{
	font-weight: bold;
	font-size: large;
}
span.vdate{
}

table.stable {
	text-align: left;
	border:1px solid #444;
	border-collapse: collapse;
	max-width: 70em;
}
table.stable th {
	min-width: 8em;
}
table.stable th, td {
	padding: 2px 6px;
	border: 1px solid #aaa;
}

ul.vlist{
	margin: 0em 0em 1.5em 2em;
}
ul.slist{padding-left:2em;list-style-type: none;}
ul.slist span.stab{float:left;width:10em;position:relative;font-weight:bold;}

/*li {margin-left: -15px;}*/

a:link    { color: #0000f0; text-decoration: none }
a:visited { color: #0000f0; text-decoration: none }
a:active  { color: #0000f0; text-decoration: none }
a:hover   { color: #b000f0; text-decoration: none }

.quote	{color:#080;}
.emphasis{color:#f00;}

.menu	{
	background-color:#FFFFFF;
	top:0px;
	left:0px;
	position:absolute;
	border:1px solid black;
	visibility:hidden;
}
.menu2	{
}
/*メニュー選択の色*/
.menu3	{
	color:#ABFFAC;
}

.treeview{
margin: 0;
padding: 0;
}

.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0;
padding: 0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: url(/image/list.gif) no-repeat left center;
list-style-type: none;
padding-left: 20px;
margin-bottom: 3px;
}

.treeview li.submenu{ /* Style for LI that contains sub lists (other ULs). */
background: url(closed.gif) no-repeat left 1px;
cursor: hand !important;
cursor: pointer !important;
}
.treeview li.submenu ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}
.treeview .submenu ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: auto;
}

.treeview li.submenu2{ /* Style for LI that contains sub lists (other ULs). */
background: url(closed.gif) no-repeat left 1px;
}
.treeview li.submenu2 ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}
.treeview .submenu2 ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: auto;
}